.sidebarRow{
    display: flex;
    align-items:center;
    padding: 0px 20px;
}
.sidebarRow_icon{
    color: #6B778C;
    font-weight: 100;
    font-size: 20px !important;
}
.sidebarRow_title{
    flex: 1;
    margin-left: 7px;
    font-weight: 450;
    font-size: 15px;
}
.sidebarRow:hover {
    background-color: #F8F9FD;
    cursor: pointer;
}

.sidebarRow.selected{
    background-color: lightgrey;
}
.sidebarRow.selected > .sidebarRow_icon{
    color: #5664D5;
}
.sidebarRow.selected > .sidebarRow_title{
    font-weight: bold;
}